---
layout: default
title: A Perfect Design
class: frontpage
---

<section>
  {% include header.html %}
  
  <article>
    
  </article>
  
  
  {% include navigation.html %}
  {% include navigation.html class="menu" %}
</section>

<section>
  <header>
    <h1>Message</h1>
  </header>

  <article>
    <p>
      Design is about the message. Every website sells something, tells a story, delivers a message.
    </p>
    <ol>
      <li>What do you sell?</li>
      <li>How these items look and feel?</li>
      <li>How people will feel about?</li>
    </ol>
     <p>
      Good design starts with answering these questions.
    </p>
  </article>
</section>


<section>
  <header>
    <h1>Attention</h1>
  </header>

  <article>
    <p>
      Jakob Nielsen, one of the most important usability experts 
      narrows down perfectly in <a href="http://www.nngroup.com/articles/113-design-guidelines-homepage-usability/">Design Guidelines for Homepage Usability</a>:
      
      <q>
        Visitors can focus only on 5 things on a single page.
      </q>
    </p>
    
    <table>
      <thead>
        <tr>
          <th colspan=2>Focus point</th>
          <th>Function</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Identity</td>
          <td>Makes the visitor feeling safe, being in the right place</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Offer</td>
          <td>What this page offers</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Values</td>
          <td>Emphasize what your site does that's valuable from the user's point of view, as well as how you differ from key competitors.</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Action
          </td><td>Emphasize the highest priority tasks so that users have a clear starting point for what to do next.</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Entertainment</td>
          <td>If all above are not interesting for the user make it feel good by offering something fun which still connects / links back to your site.</td>
        </tr>
      </tbody>
    </table>
    
    <p>
      Good design is built around these focus points. And deconstructs longer pages into single screen slides to fit this rule.
    </p>
    
  </article>
</section>


<section>
  <header>
    <h1>Story</h1>
  </header>

  <article>
    <p>
      You have a message and a framework to deliver. Now you'll tell a story featuring HTML, CSS and Javascript.
    </p>
    <p>
      Just like in movies you define characters &mdash; logo, type, buttons, images, navigation, copy &mdash; and let them play the script.
    </p>
    <p>You employ the rules of drama since Athens ... and bang! The way creation follows is universal.</p>
  </article>
</section>


<section>
  <header>
    <h1>Code</h1>
  </header>

  <article>
    <p>The following table has a caption. The first row and the first column
    contain table header cells (<code>th</code> elements) only; other cells
    are data cells (<code>td</code> elements), with <code>align="right"</code>
    attributes:</p>

    <TABLE summary=
    "Each row names a Nordic country and specifies its total area and land area, in square kilometers">
    <CAPTION>Sample table: Areas of the Nordic countries, in sq km</CAPTION>
    <TR><th scope="col">Country</th> <th scope="col">Total area</TH> <th scope="col">Land area</TH>
    <TR><th scope="row">Denmark</TH> <TD ALIGN=RIGHT> 43,070 </TD><TD ALIGN=RIGHT> 42,370</TR>
    <TR><th scope="row">Finland</TH> <TD ALIGN=RIGHT>337,030 </TD><TD ALIGN=RIGHT>305,470</TR>
    <TR><th scope="row">Iceland</TH> <TD ALIGN=RIGHT>103,000 </TD><TD ALIGN=RIGHT>100,250</TR>
    <TR><th scope="row">Norway</TH>  <TD ALIGN=RIGHT>324,220 </TD><TD ALIGN=RIGHT>307,860</TR>
    <TR><th scope="row">Sweden</TH>  <TD ALIGN=RIGHT>449,964 </TD><TD ALIGN=RIGHT>410,928</TR>
    </TABLE>

    <h2>Character test</h2>
    <p>The following table has some sample characters with
    annotations. If the browser&#8217;s default font does not
    contain all of them, they may get displayed using backup fonts.
    This may cause stylistic differences, but it should not
    prevent the characters from being displayed at all.</p>

    <table>
    <tr><th>Char. <th>Explanation <th>Notes
    <tr><td>ê <td>e with circumflex <td>Latin 1 character, should be ok
    <tr><td>&#8212; <td>em dash <td>Windows Latin 1 character, should be ok, too
    <tr><td>&#x100; <td>A with macron (line above) <td>Latin Extended-A character, not present in all fonts
    <tr><td>&Omega; <td>capital omega <td>A Greek letter
    <tr><td>&#x2212; <td>minus sign <td>Unicode minus
    <tr><td>&#x2300; <td>diameter sign <td>relatively rare in fonts
    </table>
  </article>
</section>



