/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* General, reusable code: typography, grid, etc. */
/* Breakpoints.scss
================================================================================

- This is where the site is adapted to various devices
- Usually we have the following layouts: 1. from mobile to tablet-portrait 2. from tablet-landscape to Mac's 1440x900 3. for big screens

*/
/* Responsive mixins - http://paulstamatiou.com/responsive-retina-blog-development-part-1
*/
@media only screen and (max-width: 767px) { .mobile { display: block; }
  .desktop { display: none !important; } }
@media only screen and (min-width: 768px) { .mobile { display: none; }
  .desktop { display: block; } }
/* Base.scss
================================================================================

- A collection of snippets, best practices reusable in every project
- It is my personal boilerplate

*/
/* Metrics
--------------------------------------------------------------------------------

- Vertical and horizontal positioning
- This sets the rhythm of the entire page

*/
/* The basic metric for typography and spacing
*/
/* The basic metric for positioning. It is the golden ratio
*/
/* This varies from project to project */
/* The Grid
--------------------------------------------------------------------------------

- I employ the 'Fit to screen' principle
- Longer pages are divided into slides, each slide fills completely the screen
- Read more at http://its-csongor.com/manifesto/#ch2

- However this works only on desktop; for mobile classic scrolling must be enabled. Or slides 'removed', 'merged'.

*/
/* Colors
--------------------------------------------------------------------------------

- Basic colors to define typographic elements like links and forms
- These can be changed per project.
- However these defaults represent my style
- The basic idea is that pure white and black are not recommended for use, they are too strong

*/
/* The basic color in Kuler */
/* Navigation
--------------------------------------------------------------------------------

- It has a <h3> title to fit the HTML5 Outliner. This is hidden by default
- It always contains a list which can be made displayed inline, or as is

*/
/* Common elements and mixins
--------------------------------------------------------------------------------
*/
/* list, inline 
*/
/* Typography.scss
================================================================================

- Setting fonts, headers, forms, table et all
- Can use metrics, breakpoints, colors et all defined a priori in screen.scss
- It is the simplest possible

- The most used elements are: - headings - body text - lists - form - table - quote

*/
/* One fonmt with rich variants where possible */
/* The single styling is the default underline */
/* Long text like posts, with enhanced readability */
body { font-size: 100%; line-height: 1.25; background: #f9f9f9; color: #3a3a3a; font-family: 'Lato', sans-serif; font-weight: 300; }
body a { color: #3a3a3a; text-decoration: underline; }
body a { color: #3a3a3a; text-decoration: none; }
body .container { /* Headings ---------------------------------------------------------------------------
*/ /*  - 'Traditional in em' scheme from http://lamb.cc/typograph/ - They don't differ by size but decoration
*/ /* In non body text context the padding between consecutive headings must be adjusted */ /* Block level elements
// -------------------------------------------------------------------------
*/ /* the second <p> has a top margin */ /* blockquote is simply indented, enlarged */ /* address is small caps */ /* Lists
// -----------------------------------------------
*/ /* Tables
// -----------------------------------------------
*/ /* Text styles
// -----------------------------------------------
*/ /* Forms
// -----------------------------------------------
*/ /* Reset browser defaults */ /* Text */ /* Button */ /* Cross browser compatible styling: http://www.inserthtml.com/2012/06/custom-form-radio-checkbox/ - the checkbox and radio button is not displayed - instead a label is displayed which can be styled with 'content' 
*/ /* Select box  - put inside a <label class="select"> - label:after is positioned over the original selectbox arrow - additionally padding & relative positioning must be overwritten later in the new context
*/ }
body .container h1, body .container h2, body .container h3 { font-size: 1.5em; padding: 1.45833em 0; }
body .container h4, body .container h5, body .container h6 { font-size: 1.16667em; padding: 1.51785em 0; }
body .container h1 { font-weight: 400; }
body .container h3 { font-variant: small-caps; }
body .container #header hgroup h1 { padding: 0; }
body .container #header hgroup h1 + h2 { padding: 1.25em 0; }
body .container p + p { margin-top: 1.25em; }
body .container q, body .container blockquote { display: block; margin: 2.5em; border-left: 1px dotted; padding-left: 1.25em; font-style: italic; font-size: larger; }
body .container address { font-variant: small-caps; }
body .container ul, body .container menu, body .container dir, body .container ol { margin: 1.25em; list-style-type: square; }
body .container ol { list-style-type: decimal; }
body .container dl { margin: 1.25em 0; }
body .container dl dt { font-weight: bold; text-transform: uppercase; margin: 1.25em 0; }
body .container dl dd { margin: 0.3125em; margin-bottom: 0.625em; }
body .container dl dd + dt { margin-top: 2.5em; }
body .container table { margin: 1.25em 0 2.5em; }
body .container table thead tr td { font-weight: bold; }
body .container table tbody { border-top: 1px dotted; border-bottom: 1px dotted; }
body .container table td, body .container table th, body .container table tr { text-align: left; vertical-align: top; padding: 1.25em; }
body .container table td { border-bottom: 1px solid; }
body .container em, body .container i { font-style: italic; }
body .container strong, body .container b { font-weight: bold; }
body .container input, body .container textarea, body .container select { border: none; outline: 0; background: #f9f9f9; appearance: none; -webkit-appearance: none; -moz-appearance: none; }
body .container input[type='text'], body .container input[type='email'], body .container input[type='password'], body .container textarea { border: 1px solid transparent; border-bottom: 1px solid; font-style: italic; color: #797979; }
body .container input[type='text']:focus, body .container input[type='email']:focus, body .container input[type='password']:focus, body .container textarea:focus { color: #3a3a3a; font-style: normal; border: 1px solid #797979; border-bottom: 1px solid; }
body .container input[type='submit'] { background: #3a3a3a; color: #dfdfdf; padding: 0.625em; }
body .container input[type='submit']:hover { cursor: pointer; color: #f9f9f9; }
body .container input[type='radio'], body .container input[type='checkbox'] { display: none; }
body .container input[type='radio'] + label, body .container input[type='checkbox'] + label { display: inline-block; }
body .container input[type='radio'] + label:after { content: '\2610'; margin-right: 0.625em; }
body .container input[type='radio']:checked + label:after { content: '\25a3'; }
body .container input[type='checkbox'] + label:before { content: '\2610'; margin-right: 0.3125em; font-size: 200%; line-height: .5; vertical-align: top; color: #dfdfdf; }
body .container input[type='checkbox']:checked + label:before { content: '\2611'; color: #3a3a3a; }
body .container select { border-bottom: 1px solid gray; cursor: pointer; width: 100%; }
body .container label.select:after { content: '\003E'; float: right; display: inline-block; padding: 0 .45em; position: relative; left: 0; background: #f9f9f9; pointer-events: none; /* this is a must */ cursor: pointer; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg); filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); }

/* Site specific code */
/* Set all parents to full height. This will let position elements with % instead of em */
html, body, .container, #content, section { height: 100%; /* On non desktop displays slides are removed */ /* If not the background image will scroll together with the content which gives sometimes a very cool effect */ }
@media only screen and (max-width: 1023px) { html, body, .container, #content, section { height: auto; } }

html body .container section { position: relative; background-position: top center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; }

html body .container #navigation { width: 100%; float: left; }
html body .container #navigation h3 { display: none; }
html body .container #navigation ul { display: block; margin: 0; }
html body .container #navigation ul li { display: inline-block; list-style-type: none; margin-left: 0; float: left; margin-right: 1.25em; }
html body .container #navigation ul li.last, html body .container #navigation ul li:last-of-type { margin-right: 0; }
html body .container #navigation ul li { cursor: pointer; }
html body .container section:nth-child(1) #header { margin-top: 19.098%; }
html body .container section:nth-child(1) #header, html body .container section:nth-child(1) article, html body .container section:nth-child(1) #navigation { margin-left: 19.098%; width: auto; }
html body .container section:nth-child(1) article { max-width: 43.75em; /* 700px; */ line-height: 1.75; font-size: large; padding-top: 2.5em; }
html body .container section:nth-child(1) article a { color: #3a3a3a; text-decoration: underline; }
html body .container section:nth-child(1) #navigation { margin-top: 19.098%; }
