@include slides;

html {
  body {
    .container {
      section {
        width: $major + $minor/2;
        margin-left: $minor/2;
        
        article {
          @include text(body);
        }
        
        #navigation {
          @include navigation(inline);
          
          @include tablet-and-below {
             &.active {
              max-width: $minor/2 - 5%;
              overflow: hidden;
            }
          }
         
        }
        
        &:nth-child(1) {
          #header {
            margin-top: $minor/2;
          }
          
          article {
            font-size: large;
            padding: $pad*2 0;
          }
        }
        
        
        &:nth-child(2) {
        }
      }
    }
  }
}
