@include slides;

html {
  body {
    .container {
      section {
        width: $major + $minor/2;
        margin-left: $minor/2;
        
        article {
          @include text(body);
        }
        
        #navigation {
          @include navigation(inline);
          
          &:nth-of-type(2) {
            @include menu;
            @include hidden;
          }
        }
        
        #arrows {
          @include arrows(inline);
          margin-top: $pad*5;
        }
        
        &:nth-child(1) {
          #header {
            margin-top: $minor;
          }
        }
        
        
        &:nth-child(2) {
          article {
            p {
              span {
                @include invert;
              }
            }
          }
        }
      }
    }
  }
}
